{% extends "Prueba_documentos/base.html" %}

{% load static %}

{% block content %}

<html lang="es">
<head>
    <title>Trabajadores</title>
</head>
<body>
    {% for can in trabajadores %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{servicio.imagen.url}}" alt="" style="width: 53%">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{candidato.nombre}}</span>
                <span class="section-heading-upper">{{candidato.rut}}</span>
                
              </h2>
              
             
            </div>
          </div>
        </div>
      </section>
    


    {% endfor %}
</body>
</html>

{% endblock %}